@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root{
     --pink:#A3195B;
}

#page_container{
     /*! position:fixed; */
     /*! display: flex; */
     flex-wrap: wrap;
     /*! overflow: inherit!important; */
}

#page_container::before{
     content:'';
     display: block;
     position:absolute;
     width: 50%;
     min-width: 370px;
     height: 100%;
     background:url('../../images/panta-bg-01.png');
     background-size: 55%;
     background-repeat: no-repeat;
     background-position:85% 70px;
}

#page_container::after{
     content:'';
     display: block;
     position:absolute;
     width: 50%;
     min-width: 370px;
     height: 100%;
     background:url('../../images/panta-bg-02.png') var(--pink) center no-repeat;
     background-size: 55%;
     background-repeat: no-repeat;
     background-position: 100% 90px;
     right: 0;
}

@media screen and (max-width: 760px){
     #page_container{
          flex-direction: column;
          /*! min-height: 100vh; */
          height: 100%;
     }
     
     #page_container::before{
          background-size: 70%;
          background-position:80% 34%;
          top: 0;
          /*! position: sticky; */
          width: 100%;
          height: 100%;
     }

     #page_container::after{
          bottom: 0;
          width: 100%;
          height: 70%;
          background-size: 60%;
          background-position:60% 60%;
          /*! position: sticky; */
     }
     
}

#inner_wrapper{
     position: fixed;
     z-index: 10;
     overflow-x: hidden;
     margin-bottom: 2em;
     top: 0;
}

#inner_wrapper .h-full{
     height: initial!important;
}
.h-full {
  /*! height: initial!important; */
}

@media screen and (max-width:370px){
     .h-full{
          height: 100%;
     }
}

#information-widgets{
     width: fit-content;
}

.information-widget-logo{
     width: 488px;
     align-items: flex-start !important;
}

.information-widget-logo img{
     width: 100%!important;
     max-width: inherit!important;
}

#services{
     gap:10%;
}

#services .services-group:nth-child(2) h2{
     color: #fff;
}

#services .services-group{
     /*! max-width: 660px; */
}

.service-group-name{
     font-weight: 700;
     font-size: 24px;
     margin-bottom: 15px;
}

.services-list{
     flex-direction: row!important;
     flex-wrap: wrap;
     gap: 20px;
}

.service{
     max-width: calc(100% / 3 - 20px);
     flex-grow: 2;
     font-size: 20px;
     min-width: 160px;
      width: 100%;
}

@media screen and (max-width: 530px){
     .service{
          max-width: 100%;
     } 
}

@media screen and (max-width: 380px){
     .service{
          max-width: 100%;
     }
     
}

.service p,
.service a,
.service-name{
     font-size: 19px!important;
     line-height: 1.5;
}

.service-card{
     background:rgba(255,255,255,0.7)!important;
     min-height: 150px;
     backdrop-filter: blur(1px);
     height: 100%;
}

.service-title{
     height: 100%;
}

.service-title-text{
     align-items: baseline!important;
}

.service-name{
     padding-top: 30px!important;
     text-align: center!important;
     line-height: 1.6em!important;
     font-weight: 600;
}

.service-description{
     color: #5b0e33!important;
}

.service-card:hover{
     background:rgba(255,255,255,0.9)!important;
}

@media screen and (max-width: 760px){
     #services{
          height: unset;
          overflow: auto;
     }
     
}

.resume{
     margin-top: 40px;
}

.resume h2{
     font-size: 36px;
     font-weight: 700;
     margin-bottom: 10px;
     color:var(--pink);
}

.resume p{
     max-width: 40%;
     font-size: 20px;
     color: #5b0e33;
     margin-top: 20px;
}

@media screen and (max-width: 780px){
     .resume p{
          max-width: 100%;
     }    
}

.services-group:nth-child(2) p{
     color: #fff;
}

@media (min-width: 1800px) {
  .container {
    max-width: inherit!important;
  }
}

.overflow-auto {
  /*! overflow: initial!important; */
}
