@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap');

:root{
     --pink:#A3195B;
}

#page_container{
     position:relative;
}

#page_container::before{
     content:''; 
     position:absolute;
     width: 50%;
     height: 100%;
     left: 0;
     background:url('../../images/panta-bg-01.png') center;
     background-size: contain;
     background-repeat: no-repeat;
}

#page_container::after{
     content:'';
     position:absolute;
     width: 50%;
     height: 100%;
     right:0;
     background:url('../../images/panta-bg-02.png') var(--pink) center;
     background-size: contain;
     background-repeat: no-repeat;
}